<!-- <form ng-submit="search()">
	<input type="seach" placeholder="Search by place name" ng-model="searchText" />
</form> -->
<div id="search-map" class="map"></div>
<ul class="scroll padded-2x">

	<!-- locations list -->	
	<li class="card" ng-repeat="location in locations">
		<a class="title" ui-sref="view({id:location._id})">
			<span class="pull-right">
				<span ng-hide="location.rating > 0">New!</span>
				<i class="fa fa-star" ng-show="location.rating > 0"></i>
				<i class="fa fa-star" ng-show="location.rating > 1"></i>
				<i class="fa fa-star" ng-show="location.rating > 2"></i>
				<i class="fa fa-star" ng-show="location.rating > 3"></i>
				<i class="fa fa-star" ng-show="location.rating > 4"></i>
			</span>
			<div class="pull-center fade-out">{{location.name}}</div>
		</a>
	</li>

	<!-- if no locations found -->
	<li class="card" ng-hide="locations.length > 0">
		<h1 class="title">
			No places found!
		</h1>
	</li>

	<!-- add new place -->
	<li class="card" ng-show="canAddLocation">
		<a ui-sref="edit({id:'new'})">Don't see the place you're looking for? Add it!</a>
	</li>
</ul>